<div class="bg-[#fff6] rounded-lg grid grid-cols-12" #search>
  <div class="col-span-1 grid place-items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="3"
      stroke="currentColor"
      class="w-5 h-5 ps-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
  </div>
  <div class="col-span-11">
    <input
      type="text"
      placeholder="Search"
      class="px-2 py-1 w-full bg-transparent focus:placeholder:text-black placeholder:text-white"
      (focus)="onFocus(search)"
      (blur)="onBlur(search)"
    />
  </div>
</div>
